<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hola mundo</title>
        <meta name="description" content="Hola mundo con AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    </head>
    <body ng-app ng-init="sName='Giusseppe'; sCurso='AngularJS'">
        <header>
            <h1>Hola Mundo</h1>
        </header>
        <article>
            <p>
                <label for="inputName">Introduce tu nombre</label>
                <input id="inputName" size="30" type="text" ng-model="sName">
            </p>
            <p>
                <button ng-click="sName='';">Borrar</button>
            </p>
            <p>
                Hola {{sName}}
            </p>
        </article>
        <footer>
            <p>Curso de {{sCurso}}</p>
        </footer>
    </body>
</html>